<div style="position: absolute; margin-top: 20px; margin-left: 20px; width: 100%;">
  <div class="ui pointing vertical menu">
    <div class="active item">
      <div class="ui accordion">
        <div class="active title">
          <i class="dropdown icon"></i>
         Other Brightcove Docs
        </div>
       
        <div class="active content">
          {% for site in site.data.sites %}
						{% if site.name != site.product %}
          <div class="item">
            {{ site.name }}
          </div>
          {% endif %}
					{% endfor %}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui accordion">
        <div class="active title">
          <i class="dropdown icon"></i>
         Getting Started
        </div>
       
        <div class="active content">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui accordion">
        <div class="active title">
          <i class="dropdown icon"></i>
         Managing Videos
        </div>
       
        <div class="active content">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui accordion">
        <div class="active title" style="line-height: normal;">
          <i class="dropdown icon"></i>
         Managing Cloud Playout Channels
        </div>
       
        <div class="active content">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div class="row">
				<select id="site_select" class="bcls-select" style="margin-left: 1rem;">
					<option value="">Other Brightcove Docs</option>
					{% for site in site.data.sites %}
						{% if site.name != site.product %}
							<option value="{{ site.url }}">{{ site.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
        <nav class="sidenav" id="side_nav">
          {% for item in site.data.navigation %}
            {% if item.docs == nil %}
            <h5><a href="{{ item.url }}">{{ item.name }}</a></h5>
            {% else %}
              <h5 class="submenu-header"><a href="{{ item.url }}"><span style="color:#8E9093">+</span>&nbsp;&nbsp;{{ item.name }}</a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                {% for entry in item.docs %}
                  {% if entry.docs == nil %}
                    <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
                  {% else %}
                    <li class="submenu-header">
                      <a href="{{ entry.url }}"><span style="color:#8E9093">+</span>&nbsp;&nbsp;{{ entry.name }}</a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        {% for doc in entry.docs %}
                          {% if doc.docs == nil %}
                            <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                          {% else %}
                          <li>
                            <a href="{{ doc.url }}"><span style="color:#8E9093">+</span>&nbsp;&nbsp;{{ doc.name }}</a>
                            <ul class="sidenav-subsubmenu" style="display:none;">
                              {% for subdoc in doc.docs %}
                              <li><a href="{{ subdoc.url }}">{{ subdoc.name }}</a></li>
                              {% endfor %}
                            </ul>
                          </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
      </nav>
    </div>
    <div class="col-lg-7" style="background-color: white;color: #333333;margin-top: -1em;margin-bottom: -1em;padding-bottom:1em;"> -->
  <!-- bootstrap layout -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $('.ui.accordion').accordion();
</script>